.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  border: 2px solid yellow;
  display: flex;
  justify-content: space-around;
}

.facebook-login {
  border: 2px solid yellow;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
