.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}
