a {
  color: #007bff;
  font-size: 12px;
  text-decoration: none;
}

.facebook-login {
  align-items: center;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.form-control {
  align-self: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
}

.top-bar img {
  align-items: center;
  justify-content: flex-start;
}

.main-content {
  display: flex;
  justify-content: flex-start;
}

.left-content {
  width: 800px;
}
