.facebook-login {
  background-color: teal;
  display: flex;
  margin-right: 10px;
}

.form-control {
  align-self: center;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

label {
  font-weight: 500;
}
